body {
    font-family: "Montserrat";
}

#title {
    background-color: #bde79a;
}

.container-fluid {
    padding: 3% 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-bold";
}

h2 {
    line-height: 1.5;
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

.paragraph {
    color: #8f8f8f;
    border-radius: 25px;
    background: rgb(234, 238, 219);
    width: 200px;
    height: 50px;
    margin-left: 25%;
}

.big-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.paragraph:hover {
    color: black;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
    width: 40%;
}


/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #fff;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #7acedd;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #7acedd;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.btn-block {
    width: 95%;
}


/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA Section */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
}

.title-image {
    position: static;
    transform: rotate(0);
}

.end {
    text-align: center;
    color: white;
    padding-top: 5%;
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.btn {
    color: white;
}

.p1 {
    padding-top: 2%;
}